main {
  margin: 0 0 150px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery {
  transform-origin: center;
  transform: rotate(0deg);
  transform-style: preserve-3d;
  animation: flip-animation 12s linear infinite, fade-in 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes flip-animation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(720deg);
  }
}

.gallery__image {
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.1);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
